.add
{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:yellow ;
    padding:20px;
}
.add1
{
   
    border: 1px solid green;
    padding:10px;
}